/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'YouTube Sans';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/l/font?kit=Qw3hZQNGEDjaO2m6tqIqX5E-AVS5_rSejo46_PCTRspJ0OosolrBEJL3HMXfxQASluL2m_dANVawBpSF&skey=1cb7082979c43612&v=v29) format('woff');
}
